body{
    background-color:   rgb(243, 210, 65);
    

}
main{
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: sticky;
    top: 0%;
    z-index: 1;
}


h1{
    text-align: center;
    font-weight: 700px;
    font-size: 24px;
}

form{
    background-color:#fff;
    padding: 30px;
    box-shadow: 0 0 6px 0 rgb(222, 207, 227);;
    border-radius: 10px;
}
.form{
    width: 100%;
    margin: auto;

}
.form .grupo{
    position: relative;
    margin: 45px;

}

input{
    background: none;
    color:rgb(222, 207, 227);;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display:block;
    width: 100%;
    border: none;
    border: bottom 1px solid var(--colorTextos); ;
}

input:focus{
    outline: none;
    color:black;

}

label{
    color:black;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 1px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;

}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: rgb(222, 207, 227);;
    font-size: 12px;
    color:rgb(223, 90, 90);;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content:"" ;
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background-color: rgb(241, 200, 64);;
    transition: 0.5s ease width; 
    left: 0;
    
}

input:focus~.barra::before{
    width: 100%;

}

button{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: rgb(241, 47, 47);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

h3{font: size 18px;

}

.social{
    position: fixed;
    left: 0;
    top: 300px;
    left: 95%;
    z-index:2000;
    

}

.social ul{
    list-style: none;

}

.social ul li{
    display:block;
    color: rgb(214, 171, 90);
    background-color: rgb(253, 253, 253);
    padding: 10px 15px;
    text-decoration: none;
    height: 70px;
    width: 50px;
    padding-top: 20px;
    

}

li{
    margin-bottom: 5px;
    

}

.check{
    margin-left: 150px;
}